button, label, stack-layout {
    horizontal-align: center;    
}

button {
    font-size: 15;
}

.textbox {
    font-size: 17;
    margin: 5;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 
