<GridLayout rows="*" columns="*">
    <GridLayout row="0" col="0" style="margin:5px" rows="70 50 *" columns="auto auto">
        <Button row="0" col="0" #fbt text="Load from web" id="web" (tap)="loadPdf(fbt.id)" textWrap="true"></Button>
        <Button row="0" col="1" #sbt text="Load from file" id="file" (tap)="loadPdf(sbt.id)" textWrap="true"></Button>
        <StackLayout row="1" col="0" colSpan="2">
            <TextField width="300" #tf class="textbox"  hint="Past the url to open your own pdf" [(ngModel)]="customUrl" returnKeyType="done" (returnPress)="submit(tf.text)" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout>
        <StackLayout width="100%" row="2" col="0" colSpan="2" >
            <PDFView  [src]="loadfile"></PDFView>
        </StackLayout>
        
        
    </GridLayout>
</GridLayout>